.footer__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 6.25rem 0;
}
.privacy__terms{
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0  0 2.25rem 0;
}
.footer__logo{
    padding: 0  0 2.75rem 0 ;
}
.footer__privacy{
    max-width: 14.87rem;
}
.footer__li {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 0 0 0.9rem 0;
}
.footer__button{
    max-width: 15.6rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 0.8rem 1.87rem;
    background-color: var(--main-yellow);
}
.footer__callback{
    flex-direction: column;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    padding-bottom: 2rem;
}
.footer__number{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8rem;
    text-decoration: underline;
}
.social{
    display: flex;
    justify-content: space-between;
}
.footer__menu{
    padding: 0 0 0 2.5rem;
}
.number__underline{
    display: none;
}
@media screen and (max-width:940px){
    .footer__button{
        font-size: 1rem;
        padding: 0.8rem 1.87rem;
    }
    .footer__number{
        font-size: 1.2rem;
    }
    .footer__li {
        font-size: 1rem;
    }
    .privacy__terms{
        font-size: 0.8rem;
        line-height: 1.2rem;
        padding: 0  0 1.5rem 0;
    }
    .footer__logo{
        padding: 0  0 1.5rem 0 ;
    }
}
@media screen and (max-width:820px){
    .footer__li {
        font-size: 1rem;
    }
    .footer__button{
        font-size: 0.9rem;
        padding: 0.6rem 1.5rem;
    }
}
@media screen and (max-width:768px){
    .footer__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__logo{
        font-weight: 600;
        font-size: 4rem;
        line-height: 4.87rem;
        text-align: center;
    }
    .footer__menu{
        padding: 0;
    }
    .social{
        gap: 3.5rem;
    }
    .footer__callback{
        flex-direction: column-reverse;
    }
    .footer__button{
        max-width: 25rem;
        font-size: 1.87rem;
        padding: 1rem 2.2rem;
    }
    .footer__number{
        font-size: 2.5rem;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 400;
        padding-bottom: 3rem;
    }
    .number__underline{
        content: "";
        display: flex;
        width: 11rem;
        margin-top: 0.8rem;
        height: 1px;
        background: var(--main-black);
    }
    .privacy__terms{
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        text-align: center;
    }
    .footer__privacy{
        max-width: 25rem;
        justify-content: center;
    }
    .footer__li{
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.8rem;
        text-align: center;
    }
    .footer__social{
        display: flex;
        gap: 2rem;
        flex-direction: column-reverse;
    }
}
@media screen and (max-width:560px){
    .footer__logo{
        font-weight: 600;
        font-size: 1.87rem;
        line-height: 2.3rem;
    }
    .privacy__terms{
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .footer__li{
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .footer__button{
        font-size: 1.2rem;
        padding: 1rem 3rem;
    }
    .footer__number{
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}