.discount__section{
    max-width: 45.5rem;
    margin: 0 auto;
}
.discount__titleTablet{
    display: none;
}
input:focus, 
select:focus{
    outline: none
}
.discount__title{
    font-weight: 600;
    font-size: 1.87rem;
    line-height: 2.3rem;
    padding: 7.75rem 0 1rem 0;
}
.discount__subtitle{
    font-size: 1rem;
    line-height: 1.31rem;
}
.form__title{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 4rem 0 2rem 0;
}
.personalData{
    padding: 3rem 0 0 0;
}
.discount__timer p{
    font-size: 6rem;
    line-height: 7.8rem;
}
.personalData form{
    display: grid;
    grid-template-columns: 18.75rem 18.75rem;
    gap: 4.37rem;
}
.callback__button{
    display: none;
}
.payment{
    padding: 0 1.5rem 0 0;
}
.service{
    padding: 0 2rem 0 0;
}
.services__form{
    display: grid;
    grid-template-columns: 14rem 23rem 8rem;
    gap:  2.5rem 1rem;
}
.location{
    display: grid;
    grid-template-columns: 18.75rem 18.75rem;
    gap: 4.37rem;
}
input{
    border: none;
}
label{
    border-bottom: 1px solid var(--main-black);
}
select{
    width: 18.75rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--main-black);
}
.services{
    padding-bottom: 4rem;
}
.discount__timer{
    display: grid;
    grid-template-columns: 1fr 16.25rem;
    padding-bottom: 7.6rem;
}
.discount__button button:hover{
    background-color: var(--main-orange);
    transition: .5s;
}
.payment,
.service,
.agreement{
    border: none;
}
.payments__form{
    display: flex;
    justify-content: space-between;
}
.discount__button button{
    padding: 1.2rem 3rem;
    background-color: var(--main-red);
    border: none;
    color: var(--main-white);
    margin-bottom: 1.8rem;
}
.agreement{
    font-size: 0.7rem;
}
.discount__button{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}
.checkbox{
    display: none;
}
.fake__service{
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid var(--main-black);
    position: relative;
}
.checkbox:checked + .fake__service{
    border-color: var(--main-yellow);
}
.fake__service::before{
    content: "✔";
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: block;
    position: absolute;
    color: var(--main-yellow);
    opacity: 0;
}
.checkbox:checked + .fake__service::before{
    opacity: 1;
}
.radio{
    display: none;
}
.fake__payment{
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid var(--main-black);
    border-radius: 50%;
    position: relative;
}
.radio:checked + .fake__payment{
    border: 1px solid var(--main-yellow);
}
.fake__payment::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    opacity: 0;
    background-color: var(--main-yellow);
    border-radius: 50%;
}
.radio:checked + .fake__payment::before{
    opacity: 1;
}
.fake__agreement{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--main-black);
    position: relative;
}
.fake__agreement::before{
    content: "✔";
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: block;
    position: absolute;
    opacity: 0;
    background-color: var(--main-black);
}
.checkbox:checked + .fake__agreement::before{
    opacity: 1;
}
@media screen and (max-width:1200px){
    .discount__section{
        max-width: 38rem;
        margin: 0 auto;
    }
    .discount__title{
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 6rem 0 1rem 0;
    }
    .discount__subtitle{
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
    .form__title{
        font-size: 1.2rem;
        padding: 3rem 0 2rem 0;
    }
    .personalData{
        padding: 2rem 0 0 0;
    }
    .discount__timer p{
        font-size: 5rem;
        line-height: 5rem;
    }
    .personalData form{
        grid-template-columns: 15rem 15rem;
        gap: 4rem;
    }
    .services__form{
        grid-template-columns: 12rem 18rem 7rem;
        gap:  2rem 1rem;
    }
    .location{
        grid-template-columns: 17rem 17rem;
        gap: 2.5rem;
    }
    select{
        width: 15rem;
    }
    .services{
        padding-bottom: 3rem;
    }
    .discount__timer{
        display: grid;
        grid-template-columns: 1fr 14rem;
        padding-bottom: 5rem;
    }
    .discount__button button{
        padding: 1rem 2.8rem;
    }
    .payment,
    .service{
        font-size: 0.8rem;
    }
    .fake__agreement{
        width: 0.8rem;
        height: 0.8rem;
    }
    .fake__service{
        width: 1rem;
        height: 1rem;
    }
    .fake__payment{
        width: 1rem;
        height: 1rem;
    }
    .fake__payment::before{
        width: 0.4rem;
        height: 0.4rem;
    }
    .discount__timer{
        display: grid;
        grid-template-columns: 1fr 14rem;
        padding-bottom: 7rem;
    }   
    .discount__button button{
        padding: 1rem 2.5rem;
        margin-bottom: 1.8rem;
    }
}
@media screen and (max-width:1024px){
    .discount__section{
        max-width: 35rem;
        margin: 0 auto;
    }
    .discount__title{
        font-size: 1.3rem;
        line-height: 2rem;
        padding: 6rem 0 1rem 0;
    }
    .discount__subtitle{
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
    .form__title{
        font-size: 1rem;
    }
    .discount__timer p{
        font-size: 4.5rem;
        line-height: 5rem;
    }
    .personalData form{
        display: grid;
        grid-template-columns: 15rem 15rem;
        gap: 2.5rem;
    }
    .services__form{
        display: grid;
        grid-template-columns: 11rem 17.5rem 6rem;
        gap:  2rem 1rem;
    }
    .location{
        display: grid;
        grid-template-columns: 16rem 16rem;
        gap: 2.5rem;
    }
    select{
        width: 14rem;
    }
    .discount__timer{
        display: grid;
        grid-template-columns: 1fr 14rem;
        padding-bottom: 5rem;
    }
}
@media screen and (max-width:768px){
    .discount__timer p,
    .discount__title{
        display: none;
    }
    .discount__wrapper{
        max-width: 45rem;
        margin: 0 auto;
    }
    .discount__titleTablet{
        display: block;
        font-size: 1.87rem;
        font-weight: 600;
        line-height: 3rem;
        text-align: center;
        max-width: 24.6rem;
        padding: 5.3rem 0 0 0;
        margin: auto auto;
    }
    .discount__subtitle{
        font-size: 1.5rem;
        text-align: center;
        padding: 0 0 4.25rem 0;
    }
    .personalData form{
        grid-template-columns: 14rem 14rem;
        gap: 5rem;
    }
    .form__title{
        font-size: 1.62rem;
        font-weight: 700;
        line-height: 2rem;
    }
    select{
        width: 14.5rem;
    }
    .payments .form__title{
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .payment,
    .service{
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
    .services__form{
        grid-template-columns: 12rem 18rem 7rem;
        gap:  2rem 0.5rem;
    }
    .discount__button button{
        font-size: 20px;
        line-height: 24px;
        padding: 1rem 2.7rem;
    }
    .discount__timer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .discount__button form{
        text-align: center;
    }
}
@media screen and (max-width:560px){
    .location,
    .payments,
    .services{
        display: none;
    }
    .personalData form{
        display: flex;
        flex-direction: column;
    }
    .personalData form{
        align-items: center;
        padding: 0 0 3rem 0;
    }
    .personalData input{
        width: 18rem;
    }
    .discount__title{
        max-width: 13.8rem;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5rem;
    }
    .discount__subtitle{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.26rem;
        padding: 0 0 3rem 0;
    }
    .discounOrder__button{
        display: none;
    }
    .callback__button{
        display: flex;
        font-weight: 500;
        font-size: 1.26rem;
        line-height: 1.5rem;
        padding: 1.25rem 3.1rem;
    }
}