@import url("header_banner.css");
@import url("prices.css");
@import url("steps.css");
@import url("reset.css");
@import url("autos.css");
@import url("form.css");
@import url("footer.css");
@import url("reviews.css");
@import url("map.css");
:root{
    --main-yellow: #FED100;
    --main-black: #333333;
    --main-red: #FF352B;
    --main-white:  #F2F2F2;
    --main-orange: #FF772B;
}
html{
    scroll-behavior: smooth;
  }
.container{
    max-width: 84rem;
    margin: 0 auto;
    padding-right: 6rem;
    padding-left: 6rem;
}
body{
    margin: 0 auto;
    font-family: 'Montserrat';
    font-size: 16px;
    color: var(--main-black)
}
.yellow__section{
    background-color: var(--main-yellow);
}
button{
    color: inherit;
}
@media screen and (max-width:560px){
    .container{
        padding-left: 0;
        padding-right: 0;
    }
}