.reviews__title{
    font-weight: 600;
    font-size: 1.87rem;
    line-height: 2.25rem;
    padding: 6.25rem 0 0 0;
}
.reviews__wrapper{
    text-align: center;
}
.reviews{
    max-width: 80rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 3.75rem 0 3.6rem 0;
    text-align: left;
}
.review__title{
    line-height: 1.87rem;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0 0 0.62rem 0;
}
.review__date{
    padding: 0 0  0.62rem 0;
    display: flex;
    gap: 0.5rem;
}
.review__text{
    padding: 0 0 1.1rem 0;
}
.review__full{
    text-decoration: underline;
}
.reviews__button{
    margin: 0 0 5.8rem 0;
    padding: 0.8rem 4rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    background-color: var(--main-yellow);
    border: 1px solid var(--main-black);
}
.reviews__button:hover{
    background-color: var(--main-white);
    transition: 0.5s;
    border: none;
}
.review__rating{
    width: 5rem;
    height: 0.9rem;
    background-image: url("../assets/svg/star.svg");
    display: block;
}   
.hidden__text{
    display: none;
}
.review__hide{
    display: none;
    text-decoration: underline;
}
@media screen and (max-width:1200px){
    div.reviews{
        grid-template-columns: 26.6rem 26.3rem 26.2rem;
        gap: 1.5rem;
        overflow: auto;
        margin: 0 -6rem;
    }
}

@media screen and (max-width:560px){
    .review__one,
    .review__three{
        display: none;
    }
    .reviews__title{
        font-size: 1.25rem;
        line-height: 1.5rem;
        padding-bottom: 2.5rem;
        padding-top: 2rem;
    }
    .review__title{
        font-size: 1.2rem;
        line-height: 1.35rem;
    }
    .reviews__button{
        padding: 1rem 5.25rem;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .reviews{
        display: flex;
        align-items: center;
        overflow: none;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 0;
    }
    div.reviews{
        max-width: 20rem;
        margin: 0 1rem;
    }
}
