html{
    scroll-behavior: smooth;
  }
.container{
    max-width: 84rem;
    margin: 0 auto;
    margin-right: 6rem;
    margin-left: 6rem;
}
body{
    margin: 0 auto;
    font-family: 'Montserrat';
    font-size: 16px;
    color: var(--main-black)
}
:root{
    --main-yelow: #FED100;
    --main-black: #333333;
    --main-red: #FF352B;
    --main-white:  #F2F2F2;
    --main-orange: #FF772B;

}
.logo{
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 2.3rem;
}
.header__li{
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.4rem;

}
.header__number{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8rem;
    text-decoration: underline;

}
a{
    text-decoration: none;
    color: var(--main-black);
}
.page__header{
    background-color: var(--main-yelow);
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
.header__menu{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}
.benefits__card{
    display: flex;
    justify-content: space-between;
}
.benefits__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}
.firstSection__wrapper{
    display: flex;
    justify-content: space-between;
}
.welcome__main{
    flex-direction: column;
    display: flex;
    flex: 0 1 50%;
    justify-content: center;
    gap: 0.8rem;
}
.first__section{
    background-color: var(--main-yelow);
}
.welcome__title{
    font-size: 4.3rem;
    font-weight: 700;
}
.welcome__subtitle{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.3em;
}
.order__button{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--main-white) ;
    background-color: var(--main-red);
    height: 3.75rem;
    width: 19rem;
    border: none;
}
button:hover {
    background-color: var(--main-orange); 
}
.benefits__title{
    line-height: 1.3rem;
    font-size: 1rem;
}
.benefits__card img{
    width: 70%;
    height: 70%;
}
.benefits__card{
    padding-right: 20px;
    gap: 0.5rem;
}
.welcome__pic{
    width: auto;
    max-width: 34rem; 
    margin-top: -2rem;
}
.welcomePic__tablet{
    display: none;
}
@media screen and (max-width:1200px){
    .benefits__wrapper{
        margin-top: 15px;
    }
    .benefits__card img{
        height: 100%;
        width: 100%;
    }
    .benefits__title{
        font-size: 0.8rem;
    }
    .welcome__title{
        font-size: 2.8rem;
        line-height: 3rem;
        margin-bottom: 5px;
        max-width: 300px;
    }
    .welcome__subtitle{
        font-size: 1rem;
        margin: 5px 0;
    }
    .welcome__pic{
        max-width: 25rem;
    }
    .welcome__pic img{
        padding: 0 5px;
        width: 100%;
    }
    .header__menu{
        gap: 1.2rem;
    }
}
@media screen and (max-width:1024px){
    .benefits__card{
        display: none;
    }
    .header__menu{
        gap: 1.2rem;
    }
    .header__number{
        font-size: 1rem;
    }
    .header__li{
        font-size: 0.8rem;
    }.header__number{
        font-size: 1rem;
    }
    .header__li{
        font-size: 0.8rem;
    }
}
@media screen and (max-width:768px) {
    .header__container{
        margin: 0;
    }
    .container{
        max-width: 768px;
        padding: 0 15px;
    }
    .firstSection__wrapper{
        flex-direction: column;
        padding-bottom: 15px;
    }
    .header__menu,
    .welcome__pic,
    .header__number{
        display: none;
    }
    .first__section{
        text-align: center;
    }
    .welcome__title,
    .welcome__subtitle,
    .button__wrapper,
    .welcome__main{
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 0 0 1rem 0;
    }
    .welcome__title{
       font-size: 3.2rem;
       max-width: 570px;
       line-height: 3.5rem;
    }
    .welcome__subtitle{
        font-size: 1.8rem;
        line-height: 44px;
    }
    .welcomePic__tablet{
        display: block;
        margin: -1rem 0 -1.5rem 0;
    }
    .order__button{
        width: 20rem;
        height: 86px;
    }
}
@media screen and (max-width:560px){
    .container{
        max-width: 320px;
        padding: 0 5px;
    }
    .benefits{
        display: none;
    }
    .logo{
        font-size: 1rem;
        padding-left: 15px;
    }
    .welcome__title{
        font-size: 2.2rem;
        max-width: 190px;
        line-height: 37px;
    }
    .welcome__subtitle{
        font-size: 1rem;
        line-height: 22px;
        margin-top: -5px;
    }
    .header__container{
        margin: 0 5px ;
    }
    .welcomePic__tablet{
        max-width: 292px;
        margin: -30px 0;
    }
    .man__taplet {
        padding: 0 10px;
        margin: -20px 0;
        width: 100%;
        height: auto;
    }
    .order__button{
        max-width: 260px;
        height: 60px;
        font-size: 20px;
        line-height: 24px;
    }
}