html{
    scroll-behavior: smooth;
  }
.container{
    max-width: 84rem;
    margin: 0 auto;
    padding: 0 6rem;
}
body{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 16px;
}
:root{
    --main-yelow: #FED100;
    --main-black: #333333;
    --main-red: #FF352B;
    --main-white:  #F2F2F2;
    --main-orange: #FF772B;

}
.logo{
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 2.3rem;
}
.header_li{
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.4rem;

}
.header_number{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8rem;
    text-decoration: underline;

}
a{
    text-decoration: none;
    color: var(--main-black);
}

.page_header{
    min-width: 84rem;
    background-color: var(--main-yelow);
}
.header_container{
    max-width: 84rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
.header_menu{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}
.benefits_card{
    display: flex;
    justify-content: space-between;
}
.benefits_wrapper{
    display: flex;
    justify-content: space-between;
    width: 34rem;
    height: 2.6rem;
    margin-top: 4rem;
}
.firstSection_wrapper{
    display: flex;
}
.welcome_main{
    flex: 0 1 50%;
}
.first_section{
    background-color: var(--main-yelow);
    min-width: 84rem;
}
.main_title{
    font-size: 4.3rem;
    font-weight: 700;
    line-height: 4.6rem;
}
.main_subtitle{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.3em;
}
.order_button{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--main-white) ;
    background-color: var(--main-red);
}
button{
    height: 3.75rem;
    width: 19rem;
    border: none;
}
button:hover {
    background-color: var(--main-orange); 
}
.benefits_title{
    line-height: 1.3rem;
}
.benefits_card{
    gap: 0.5rem;
}
.main_pic{
    margin: -4.5rem auto 0 auto ;
    height: 100%;
    width: 34.5rem;
}


