html{
    scroll-behavior: smooth;
  }
.container{
    max-width: 84rem;
    margin: 0 auto;
    padding: 0 6rem;
}
body{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 16px;
}
:root{
    --main-yelow: #FED100;
    --main-black: #333333;
    --main-red: #FF352B;
    --main-white:  #F2F2F2;
    --main-orange: #FF772B;

}
.logo{
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 2.3rem;
}
.header__li{
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.4rem;

}
.header__number{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8rem;
    text-decoration: underline;

}
a{
    text-decoration: none;
    color: var(--main-black);
}

.page__header{
    min-width: 84rem;
    background-color: var(--main-yelow);
}
.header__container{
    max-width: 84rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
.header__menu{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}
.benefits__card{
    display: flex;
    justify-content: space-between;
}
.benefits__wrapper{
    display: flex;
    justify-content: space-between;
    width: 34rem;
    height: 2.6rem;
    margin-top: 4rem;
}
.firstSection__wrapper{
    display: flex;
}
.welcome__main{
    flex: 0 1 50%;
}
.first__section{
    background-color: var(--main-yelow);
    min-width: 84rem;
}
.main__title{
    font-size: 4.3rem;
    font-weight: 700;
    line-height: 4.6rem;
}
.main__subtitle{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.3em;
}
.order__button{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--main-white) ;
    background-color: var(--main-red);
}
button{
    height: 3.75rem;
    width: 19rem;
    border: none;
}
button:hover {
    background-color: var(--main-orange); 
}
.benefits__title{
    line-height: 1.3rem;
}
.benefits__card{
    gap: 0.5rem;
}
.main__pic{
    margin: -4.5rem auto 0 auto ;
    height: 100%;
    width: 34.5rem;
}


